.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rating {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
