.label {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.label:hover svg {
  background-color: var(--rating-yellow-light);
}

input[type="radio"] {
  display: none;
}

.star {
  width: 48px;
  height: 48px;
  padding: 8px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
