.container {
  display: flex;
  gap: 8px;
}

input {
  display: none;
}

.star {
  padding: 8px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.star:hover {
  background-color: var(--rating-yellow-light);
}
