.card {
  width: 410px;
  height: 560px;
  display: flex;
  flex-direction: column;
  position: relative;
  scale: 1;
}

.product {
  position: relative;
  width: 100%;
  height: 184px;
  background: var(--brand-gradient-light);
  border-radius: 20px 20px 0 0;
}

.product img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 100%;
  height: 100%;
  padding: 48px;
  border-radius: 0 0 20px 20px;
  background-color: var(--base-gray-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.backBtn {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 999;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--base-gray-100);
  cursor: pointer;
}

.closeAnimation {
  animation: closeCard 0.3s linear forwards;
}

@keyframes closeCard {
  to {
    scale: 0;
  }
}

@media (max-width: 420px) {
  .card {
    width: 100vw;
  }
}
