.heading {
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
}
.bodyBold {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
}
.body {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
}
.span {
  font-size: 12px;
  line-height: 150%;
  font-weight: normal;
}
