* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

:root {
  --brand-purple: #685ed9;
  --brand-purple-dark: #4439c7;
  --brand-gradient-light: linear-gradient(to right, #4453b2, #502c9e);
  --brand-gradient-dark: linear-gradient(to bottom, #0f0a31, #3f347e);

  --base-gray-100: #fafafa;
  --base-gray-200: #e3e1e4;
  --base-gray-300: #75747a;
  --base-gray-400: #2f2f33;
  --base-gray-500: #0c0c0d;

  --rating-yellow-light: #faf2e7;
  --rating-yellow: #f5b44d;
  --rating-yellow-dark: #d5983e;
  --rating-gradient-yellow: linear-gradient(to right, #f9d399, #d4983e);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--brand-gradient-dark);
  display: grid;
  place-content: center;
}
